
body {
    background-color: #F6FEFE;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
#content {
    position: relative;
    margin-top: 3em;
}

#navigation {
    display: none;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#printonly {
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
    display: none;
}
