﻿body {
    background-color: #F6FEFE;
}

#content {
    position: relative;
    margin-top: 3em;
    background: #F6FEFE;
}

#navigation {
    background-color: #F6FEFE;
    border: solid;
    vertical-align: top;
    margin-top: 0px;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 3em;
    z-index: 100;
}

input[type=submit] {
    background-color: #F6FEFE;
    border: none;
    color: aliceblue;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: #0343C4;
}

#printonly {
    display: none;
}
